div {
    background: white;
  }
  .red {
    background: lightcoral;
  }
  .red.green {
    background: lightseagreen;
  }

 .center {
    border: 3px solid darkcyan;
    padding: 10px;
}

ol.demo li {
	width: 14em
}

#border{
	border: none;
}
